

.btn {
  background-color: rgb(6, 72, 255);
  color: white;
  padding: 12px 16px;
  margin: 0px -200px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: rgb(0, 56, 177);
  transform: translateY(-2px);
}

.btn:active {
  background-color: rgb(0, 0, 0);
  transform: translateY(0);
}

.favorite-form {
  display: inline-block;
  margin-left: 10px;
}

.favorite-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.favorite-button:hover {
  background-color: #f2f2f2;
  color: #ef00df;
  border-color: #ef00df;
}

.favorite-button span {
  margin-right: 6px;
}

.favorite-button:active {
    background-color: #ef00df;
    color: white;
    border: 2px solid white;
    border-radius: 0.5rem;
}
